In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,2021-07-31 09:33:40,71.2906,-156.7887,42.82,98,90,10.36
1,1,Hermanus,ZA,2021-07-31 09:33:40,-34.4187,19.2345,64.90,60,90,3.56
2,2,Qaanaaq,GL,2021-07-31 09:33:40,77.4840,-69.3632,42.35,86,65,2.30
3,3,Kapaa,US,2021-07-31 09:33:41,22.0752,-159.3190,80.92,72,90,3.00
4,4,Lebu,CL,2021-07-31 09:33:41,-37.6167,-73.6500,45.28,86,55,13.73

In [3]:
# Get the datatypes.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribure
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values.
humidity = city_data_df["Humidity"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribure
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values.
clouds = city_data_df["Cloudiness"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribure
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values.
wind = city_data_df["Wind Speed"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribure
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kapaa,US,2021-07-31 09:33:41,22.0752,-159.3190,80.92,72,90,3.00
17,17,Bwanga,TZ,2021-07-31 09:33:46,-3.0308,31.7601,81.61,23,12,10.78
22,22,San Pedro De Macoris,DO,2021-07-31 09:33:48,18.4616,-69.2972,77.13,92,32,7.25
23,23,Bengkulu,ID,2021-07-31 09:33:48,-3.8004,102.2655,82.89,76,48,10.87
24,24,Lebyazhye,RU,2021-07-31 09:33:49,55.2689,66.4947,75.49,57,79,7.67
26,26,Port Alfred,ZA,2021-07-31 09:33:49,-33.5906,26.8910,75.22,33,1,5.86
30,30,Juegang,CN,2021-07-31 09:33:51,32.3174,121.1855,83.98,90,13,7.78
34,34,Kavieng,PG,2021-07-31 09:33:52,-2.5744,150.7967,82.29,75,82,5.61
35,35,Katsuura,JP,2021-07-31 09:33:53,35.1333,140.3000,87.12,84,1,7.27
38,38,Machico,PT,2021-07-31 09:33:53,32.7000,-16.7667,77.72,69,20,18.41

In [20]:
preferred_cities_df.count()

City_ID       192
City          192
Country       189
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
3                  Kapaa      US     80.92  22.0752 -159.3190
17                Bwanga      TZ     81.61  -3.0308   31.7601
22  San Pedro De Macoris      DO     77.13  18.4616  -69.2972
23              Bengkulu      ID     82.89  -3.8004  102.2655
24             Lebyazhye      RU     75.49  55.2689   66.4947
26           Port Alfred      ZA     75.22 -33.5906   26.8910
30               Juegang      CN     83.98  32.3174  121.1855
34               Kavieng      PG     82.29  -2.5744  150.7967
35              Katsuura      JP     87.12  35.1333  140.3000
38               Machico      PT     77.72  32.7000  -16.7667

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Bwanga,TZ,81.61,-3.0308,31.7601,Sulilu Guest house
22,San Pedro De Macoris,DO,77.13,18.4616,-69.2972,Apartahotel Guaraguao
23,Bengkulu,ID,82.89,-3.8004,102.2655,Grage Hotel Bengkulu
24,Lebyazhye,RU,75.49,55.2689,66.4947,
...,...,...,...,...,...,...
547,Sorong,ID,82.90,-0.8833,131.2500,waigo splash hotel
549,Galveston,US,82.99,29.3669,-94.9669,Comfort Inn & Suites Texas City
554,Palu,ID,79.00,-0.8917,119.8707,Hotel Santika Palu
556,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
557,Makhinjauri,GE,82.26,41.6739,41.6940,Golden Anchor

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))